* {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  padding: 1rem;
}

header {
  text-align: center;
}

header img {
  max-width: 100px;
}

.converter {
  text-align: center;
}

.image-result {
  display: flex;
  margin: 2rem 0;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
}

.image-result > div {
  min-width: 300px;
  width: 100%;
  max-width: 450px;
  min-height: 250px;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 5px dashed gray;
}
.upload,
.result {
  transition: 250ms;
}
.upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.upload #uploaded-image {
  max-width: 100%;
}
.upload #remove-image {
  margin: 0.5rem auto;
  padding: 0.25rem 0.75rem;
  background-color: crimson;
  font-size: 1rem;
}
.upload.dragover {
  border-color: indigo;
}
.upload.dropped,
.result.success {
  border-style: solid;
  border-color: indigo;
}

.result #text {
  display: block;
  width: auto;
  height: auto;
  margin: 0.5rem 0.25rem;
  padding: 0.25rem;
  text-align: left;
}
#text:focus {
  border-radius: 5px;
  outline: 1px solid rgba(128, 128, 128, 0.5);
}
.result .tools {
  text-align: right;
}
.result button {
  margin: 0 0.25rem;
  padding: 0.2rem 0.5rem;
  border-radius: 8px;
  font-size: 1rem;
  background-color: lawngreen;
}
.tools #txt {
  background-color: lightsalmon;
}
.tools #copy {
  position: relative;
}
.tools #copy::before {
  position: absolute;
  content: "✅Copied";
  width: max-content;
  left: 50%;
  transform: translateX(-50%) scale(0, 0);
  border-radius: 10px;
  padding: 0.25rem 0.5rem;
  background-color: rgb(255, 0, 162);
  opacity: 0;
  bottom: 0;
  transition: 250ms ease-in-out;
}
.tools #copy::after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%) scale(0, 0);
  border: 15px solid transparent;
  border-top-color: rgb(255, 0, 162);
  bottom: 0;
  opacity: 0;
  transition: 250ms ease-in-out;
}

.tools #copy.copied::before {
  opacity: 1;
  bottom: 50px;
  transform: translateX(-50%) scale(1, 1);
}
.tools #copy.copied::after {
  opacity: 1;
  bottom: 20px;
  transform: translateX(-50%) scale(1, 1);
}

.upload-emoji {
  font-size: 4rem;
}

#image {
  display: none;
}

#message {
  color: red;
}
.hidden {
  display: none;
}

button {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  background-color: green;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  transition: 250ms;
}
button.reset {
  background-color: crimson;
}
button span {
  display: none;
}
button.extraction-progress {
  background-color: lightgray;
  cursor: not-allowed;
  color: black;
}
button.extraction-progress span {
  display: inline-block;
}
button.extraction-progress .loader {
  animation: waiting 2000ms linear 250ms infinite;
}

@keyframes waiting {
  0% {
    transform: rotateZ(0deg);
  }
  33% {
    transform: rotateZ(180deg);
  }
  66% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
